In [10]:
line = "hey buddy how is life"

li=list(line)

In [11]:
line[1: :2]

'e ud o slf'

In [12]:
line[::-1]

'efil si woh yddub yeh'

In [19]:
li.append("hi")

In [20]:
print(li)

['h', 'e', 'y', ' ', 'b', 'u', 'd', 'd', 'y', ' ', 'h', 'o', 'w', ' ', 'i', 's', ' ', 'l', 'i', 'f', 'e', 'hi', 'hi', 'hi']

In [24]:
li.append(["hi","hello"])

In [26]:
print(li)

['h', 'e', 'y', ' ', 'b', 'u', 'd', 'd', 'y', ' ', 'h', 'o', 'w', ' ', 'i', 's', ' ', 'l', 'i', 'f', 'e', 'hi', 'hi', 'hi', ['hi', 'hello']]

In [31]:
li.extend(["sharam","karle"])

In [32]:
print(li)

['h', 'e', 'y', ' ', 'b', 'u', 'd', 'd', 'y', ' ', 'h', 'o', 'w', ' ', 'i', 's', ' ', 'l', 'i', 'f', 'e', 'hi', 'hi', 'hi', ['hi', 'hello'], 'sharam,karle', 'sharam', 'karle']

In [41]:
li.append([4,5])

In [42]:
print(li)

['h', 'e', 'y', ' ', 'b', 'u', 'd', 'd', 'y', ' ', 'h', 'o', 'w', ' ', 'i', 's', ' ', 'l', 'i', 'f', 'e', 'hi', 'hi', 'hi', ['hi', 'hello'], 'sharam,karle', 'sharam', 'karle', 'a', 'p', 'p', 'l', 'e', 4, 5, [4, 5]]

In [49]:
def test():
    print("hello")

In [50]:
ttest=test

In [51]:
ttest()

hello

In [52]:
print(ttest)

<function test at 0x7fc591f05730>

In [53]:
ttest()

hello

In [54]:
test

In [55]:
test()

hello

In [56]:
ttest()

hello

In [57]:
ttest

In [61]:
a=10
b=10

x=lambda a,b : a * b
print(x(5,6))

30

In [60]:
lambda?

Object `lambda` not found.

In [71]:
x = (2,3,4)
y = list(x)
y[1] = "kiwi"
x = tuple(y)

In [72]:
x

(2, 'kiwi', 4)

In [73]:
y

[2, 'kiwi', 4]

In [74]:
y = list(tuple((2,3,4)))

In [103]:
y
x = "Test"

In [104]:
li = ([1,2,3],[2,3,4],[4,0,0])

In [105]:
sorted(li , key = lambda item: sum(item))

[[4, 0, 0], [1, 2, 3], [2, 3, 4]]

In [106]:
print("The List is" + x + "this you dickhead")

The List isTestthis you dickhead

In [107]:
def my_list(x,y):
    print(x,y)

In [110]:
my_list(1,2)

1 2

In [111]:
line = "this is a line from where to count"

In [121]:
counts = {}
for ch in line:
    if ch in counts:
        counts[ch] += 1  
    else:
        counts[ch] = 1
        
print(counts)

{'t': 3, 'h': 2, 'i': 3, 's': 2, ' ': 7, 'a': 1, 'l': 1, 'n': 2, 'e': 3, 'f': 1, 'r': 2, 'o': 3, 'm': 1, 'w': 1, 'c': 1, 'u': 1}

In [123]:
counts["t"]

3

In [124]:

s = set([1, 11, 1111, 11111, 2, 222, 2222, 2222, 3, 333, 333, 333333])

In [126]:

s

{1, 2, 3, 11, 222, 333, 1111, 2222, 11111, 333333}

In [127]:
s[0]

TypeError: 'set' object is not subscriptable

In [131]:
counts = {
    "Anuj": "heera",
    "Kushagra" : "Jeera"
}

In [ ]:
counts[]