In [1]:
%load_ext sql

In [2]:
%%sql sqlite:///foo1.db
CREATE TABLE writer(first_name, last_name, year_of_death);

Done.

[]

In [3]:
%%sql
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brectc',1956);

 * sqlite:///foo1.db
1 rows affected.
1 rows affected.

[]

In [4]:
from sqlalchemy import *

metadata = MetaData()

c1 = Column('model', String)
c2 = Column('registeration', String)
c3 = Column('odometer', Integer)
 
vehicle_table = Table('vehicles', metadata,c1,c2,c3)
vehicle_table

Table('vehicles', MetaData(bind=None), Column('model', String(), table=<vehicles>), Column('registeration', String(), table=<vehicles>), Column('odometer', Integer(), table=<vehicles>), schema=None)

In [5]:
vehicle_table.create(bind=engine)

NameError: name 'engine' is not defined

In [19]:
n = int(input())

for i in range(2,n):
        if n%i==0 :
            print("Not Prime")
            break 
    print("Prime")

 4

Prime
Prime

In [36]:
n = int(input())
for i in range(2,n):
    if n%i==0 :
        print("Not Prime")
        break 
else:
    print("Prime")

 45

Not Prime

In [37]:
45//5

9

In [38]:
45//4

11